body {
	background-color: white;
}

h1 {
	font-family: Arial;
	width: 1024px;
	margin: 0 auto;
	padding: 10px 0px 10px 20px;
}

#options {
    height: 200px;
    margin: 0 auto;
    position: relative;
	width: 1200px;
    padding-top:10px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 260px;
    margin-bottom: 15px;
    padding: 10px;
}

#secondRow {
    margin: 0 auto;
    position: relative;
    width: 1250px;
}

#maps {
	width: 1200px;
	padding: 10px;
	float: left;
    position: relative;
    height: 250px;
    align-self: center;
}

div.exhibit-facet {
    float: left;
    font-size: 15px;
    padding: 4px;
    position: relative;
    width: 210px;
}

#options-wrapper {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 260px;
    margin-bottom: 15px;
    width: 1200px;
    padding: 10px;

}

a.hoverOver:link, a.hoverOver:visited {
	text-decoration: none;
} 

a.hoverOver:hover{
	text-decoration: underline;
}

.hidden {
	display: none;
}

.exhibit-views-bubbleWithItems{
	height: 200px;
}

.exhibit-resizableDivWidget-resizer{
	display: none;
}

#cloud {
	position: relative;
	float: left;
	width: 300px;
}

div.exhibit-views-header{
	display: none;
}

div.exhibit-viewPanel-viewSelection {
    padding-bottom: 10px;
    text-align: center;
}

.topics {
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.timeline-event-label {
	font-size: 13px;
	width: 350px;
	overflow: hidden;
	height: 18px;
}

div.timeline-event-label:after {
	width: 15px;
	content: "";
}

img[src*='#center'] { 
    display: block;
    margin: auto;
}
